/*
Button
Your standard button suitable for clicking.
:hover   - Highlights when hovering.
.shiny   - Do not press this big, shiny, red button.
Markup: button.html
Style guide: components.button
*/
.mButton {
    display: block;
    border-radius: 4px;
    padding: 0 1rem;
    color: #fff;
    text-align: center;
    background: tomato;
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: 48px;
    text-decoration: none;
    margin: 10px;
}

.mButton.Spring {

}

.mButton.Summer {

}
