.mButton {
    display: block;
    border-radius: 4px;
    padding: 0 1rem;
    color: #fff;
    text-align: center;
    background: tomato;
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: 48px;
    text-decoration: none;
    margin: 10px;
}

.mButton.Spring {

}

.mButton.Summer {

}