//-------------------------------------
//  User's Base
//-------------------------------------

// ----- Second Level ----- //
i {
	display: inline-block;
}
a {
	display: block;
	color: inherit;
}
em { font-style: normal }
select, button, input, textarea { -webkit-appearance: none }
