//-------------------------------------
//  Helper Classes
//-------------------------------------

.cf:before,
.cf:after { 
	content: "";
	display:
	table !important;
}
.cf:after { clear: both; }
.ir {
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}
.elps {  
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ref { position: relative; }
.abs { position: absolute; }

.invisible { visibility: hidden; }

.fl { float: left; }
.fr { float: right; }

.full  { width: 100%; }
.half  { width: 50%;  }
.third { width: 33%;  }

.rn { border-radius: 0 !important; }
.rs { border-radius: 5px !important; }
.rm { border-radius: 10px !important; }
.rl { border-radius: 20px !important; }


// ----- Spacing Classes ----- //

.mod { margin: 10px; }

.mtn { margin-top: 0 !important; }
.mts { margin-top: 5px !important; }
.mtm { margin-top: 10px !important; }
.mtl { margin-top: 20px !important; }
.mrn { margin-right: 0 !important; }
.mrs { margin-right: 5px !important; }
.mrm { margin-right: 10px !important; }
.mrl { margin-right: 20px !important; }
.mbn { margin-bottom: 0 !important; }  
.mbs { margin-bottom: 5px !important; }
.mbm { margin-bottom: 10px !important; }
.mbl { margin-bottom: 20px !important; }
.mln { margin-left: 0 !important; }
.mls { margin-left: 5px !important; }
.mlm { margin-left: 10px !important; }
.mll { margin-left: 20px !important; }
.mra { margin-right: auto !important; }
.mla { margin-left: auto !important; }

.ptn { padding-top: 0 !important; }
.pts { padding-top: 5px !important; }
.ptm { padding-top: 10px !important; }
.ptl { padding-top: 20px !important; }
.prn { padding-right: 0 !important; }
.prs { padding-right: 5px !important; }
.prm { padding-right: 10px !important; }
.prl { padding-right: 20px !important; }
.pbn { padding-bottom: 0 !important; }  
.pbs { padding-bottom: 5px !important; }
.pbm { padding-bottom: 10px !important; }
.pbl { padding-bottom: 20px !important; }
.pln { padding-left: 0 !important; }
.pls { padding-left: 5px !important; }
.plm { padding-left: 10px !important; }
.pll { padding-left: 20px !important; }


// ----- Text Decorative Classes ----- //

.l { text-align: left !important; }
.c { text-align: center !important; }
.r { text-align: right !important; }
.b { font-weight: bold !important; }
.n { font-weight: normal !important; }
._ { text-decoration: underline; }

.ca { color: $alpha-color; }
.cb { color: $beta-color; }
.cg { color: $gamma-color; }
.cd { color: $delta-color; }
.ce { color: $epsilon-color; }
.cz { color: $zeta-color; }

.fsa { font-size: $alpha-font-size; }
.fsb { font-size: $beta-font-size; }
.fsg { font-size: $gamma-font-size; }
.fsd { font-size: $delta-font-size; }
.fse { font-size: $epsilon-font-size; }
.fsz { font-size: $zeta-font-size; }

.loud {}
.quiet {}

.v0 { vertical-align: 0px; }
.v1 { vertical-align: 1px; }
.v2 { vertical-align: 2px; }
.v3 { vertical-align: 3px; }
.v4 { vertical-align: 4px; }
.v5 { vertical-align: 5px; }
.v6 { vertical-align: 6px; }

// ----- State Classes ----- //

.is-hidden { display: none; }
.is-block  { display: block; }
.is-inline { display: inline; }
.is-solid  { display: inline-block; }

.is-table { display: table; }
.is-cell { display: table-cell; }


.is-on {
	&.btn-primary {}
	&.btn-secondary {}
}
.is-off {
	&.btn-primary {}
	&.btn-secondary {}
}
.is-disabled {}
// Toggling content
.hide { display: none; }
.show { display: block; }

// .is-active {}
// .is-disabled {}
// .is-pressed {}

.has-child {}

