//-------------------------------------
//  Helper Classes
//-------------------------------------

// Clearfix (.group)
.gp:before,
.gp:after { 
	content: "";
	display: table !important;
}
.gp:after { clear: both; }

// Image Replacement
.ir {
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}

// Ellipsis
.elps {  
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fl { float: left; }
.fr { float: right; }

.full   { width: 100%; }
.half   { width: 50%; }
.third  { width: 33.3%; }
.quater { width: 25%; }
.fifth  { width: 20%; }

.ref { position: relative; }
.abs { position: absolute; }

//  State Classes
//-------------------------------------

.invisible { visibility: hidden; }

.dn { display: none !important;  }
.db { display: block !important;  }
.di { display: inline !important;  }
.ds { display: inline-block !important;  }
.dt { display: table !important; }
.dc { display: table-cell !important;}


// ----- Spacing Classes ----- //


.mod { margin: $space-2; }

.mgn { margin: 0 !important; }

.mtn { margin-top: 0 !important; }
.mts { margin-top: $space-base !important; }
.mtm { margin-top: $space-2 !important; }
.mtl { margin-top: $space-4 !important; }
.mtx { margin-top: $space-6  !important; }
.mbn { margin-bottom: 0 !important; }
.mbs { margin-bottom: $space-base !important; }
.mbm { margin-bottom: $space-2 !important; }
.mbl { margin-bottom: $space-4 !important; }
.mbx { margin-bottom: $space-6  !important; }
.mln { margin-left: 0 !important; }
.mls { margin-left: $space-base !important; }
.mlm { margin-left: $space-2 !important; }
.mll { margin-left: $space-4 !important; }
.mlx { margin-left: $space-6  !important; }
.mrn { margin-right: 0 !important; }
.mrs { margin-right: $space-base !important; }
.mrm { margin-right: $space-2 !important; }
.mrl { margin-right: $space-4 !important; }
.mrx { margin-right: $space-6  !important; }

.mra { margin-right: auto !important; }
.mla { margin-left: auto !important; }
.mca { margin-left: auto !important; margin-right: auto !important; }

.ptn { padding-top: 0 !important; }
.pts { padding-top: $space-base !important; }
.ptm { padding-top: $space-2 !important; }
.ptl { padding-top: $space-4 !important; }
.ptx { padding-top: $space-6  !important; }
.pbn { padding-bottom: 0 !important; }
.pbs { padding-bottom: $space-base !important; }
.pbm { padding-bottom: $space-2 !important; }
.pbl { padding-bottom: $space-4 !important; }
.pbx { padding-bottom: $space-6  !important; }
.pln { padding-left: 0 !important; }
.pls { padding-left: $space-base !important; }
.plm { padding-left: $space-2 !important; }
.pll { padding-left: $space-4 !important; }
.plx { padding-left: $space-6  !important; }
.prn { padding-right: 0 !important; }
.prs { padding-right: $space-base !important; }
.prm { padding-right: $space-2 !important; }
.prl { padding-right: $space-4 !important; }
.prx { padding-right: $space-6  !important; }


// ----- Border Radius ----- //

.rn { border-radius: 0 !important; }
.rs { border-radius: $radius-1; }
.rm { border-radius: $radius-2; }
.rl { border-radius: $radius-3; }

// ----- Text Decorative Classes ----- //

.l { text-align: left !important; }
.c { text-align: center !important; }
.r { text-align: right !important; }
.b { font-weight: bold !important; }
.n { font-weight: normal !important; }
.u { text-decoration: underline !important; }

.ca { color: $color-a !important; }
.cb { color: $color-b !important; }
.cc { color: $color-c !important; }
.cd { color: $color-d !important; }
.ce { color: $color-e !important; }
.cf { color: $color-f !important; }
.cg { color: $color-g !important; }
.ch { color: $color-h !important; }

.f1 { font-size: $font-size-1; }
.f2 { font-size: $font-size-2; }
.f3 { font-size: $font-size-3; }
.f4 { font-size: $font-size-4; }
.f5 { font-size: $font-size-5; }
.fn { font-size: $font-size-base !important; } 
.f6 { font-size: $font-size-6; }
.f7 { font-size: $font-size-7; }
.f8 { font-size: $font-size-8; }
.f9 { font-size: $font-size-9; }
.f10 { font-size: $font-size-10; }

.v0 { vertical-align: 0; }
.v1 { vertical-align: -1px; }
.v2 { vertical-align: -2px; }
.v3 { vertical-align: -3px; }
.v4 { vertical-align: -4px; }
.v5 { vertical-align: -5px; }
.vt { vertical-align: top; }
.vm { vertical-align: middle; }
.vb { vertical-align: bottom; }
