// ## Mixin for CSS Sprite 
// - @mixin  sprites
// - @param  $map {Glob} the first parameter is a glob
// - @param  $map-item {Glob} the second parameter is a glob
// - @param  $isCommon {Boolean} this one is a boolean
// - @usage  @include sprites($map-tabs, common, true)
@mixin sprites($map, $map-item, $isCommon:false) {
	@if $isCommon {
		background-image: sprite-url($map);
		background-size: round(image-width(sprite-path($map)) / 2) round(image-height(sprite-path($map)) / 2);
		background-repeat: no-repeat;
	} @else {
		$pos-y: round(nth(sprite-position($map, $map-item), 2) / 2);
		width: round(image-width(sprite-file($map, $map-item)) / 2);
		height: round(image-height(sprite-file($map, $map-item)) / 2);
		background-position: 0 $pos-y;
	}
}
