//-------------------------------------
//  Settings
//-------------------------------------

// ----- Variables ----- //

// Colors
$color-a: #000;
$color-b: #000;
$color-c: #000;
$color-d: #000;
$color-e: #000;
$color-f: #000;
$color-g: #000;

// Spaces
$space-base: 6px;
$space-2: $space-base * 2;
$space-3: $space-base * 3;
$space-4: $space-base * 4;
$space-5: $space-base * 5;
$space-6: $space-base * 6;
$space-7: $space-base * 7;
$space-8: $space-base * 8;
$space-9: $space-base * 9;
$space-10: $space-base * 10;

// Font Size
$font-size-1: $font-size-base - 5px;
$font-size-2: $font-size-base - 4px;
$font-size-3: $font-size-base - 3px;
$font-size-4: $font-size-base - 2px;
$font-size-5: $font-size-base - 1px;
$font-size-base: 14px;
$font-size-6: $font-size-base + 1px;
$font-size-7: $font-size-base + 2px;
$font-size-8: $font-size-base + 3px;
$font-size-9: $font-size-base + 4px;
$font-size-10: $font-size-base + 5px;

// Heights
$height-base-button: 30px;
$height-base-headline: 30px;
$height-base-tab: 42px;

// Font Settings
$font-family-body: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;


// ----- Mixins ----- //

// CSS Sprite 
// - @mixin  sprites
// - @param  $map {Glob} the first parameter is a glob
// - @param  $map-item {Glob} the second parameter is a glob
// - @param  $isCommon {Boolean} this one is a boolean
// - @usage  @include sprites($map-tabs, common, true)
@mixin sprites($map, $map-item, $isCommon:false) {
	@if $isCommon {
		background-image: sprite-url($map);
		background-size: round(image-width(sprite-path($map)) / 2) round(image-height(sprite-path($map)) / 2);
		background-repeat: no-repeat;
	} @else {
		$pos-y: round(nth(sprite-position($map, $map-item), 2) / 2);
		width: round(image-width(sprite-file($map, $map-item)) / 2);
		height: round(image-height(sprite-file($map, $map-item)) / 2);
		background-position: 0 $pos-y;
	}
}


// ----- Extends ----- //

%debug {
	background-color: pink !important; 
}
%border-box {  
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
%cancell-border {
	border: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


// ----- Animations ----- //

