{
    "rules": {
        "string-quotes": [
            2,
            "double"
        ],
        "block-no-empty": 2,
        "color-hex-case": [
            2,
            "lower"
        ],
        "selector-no-id": 2
    }
}