//-------------------------------------//
//  Settings
//-------------------------------------//

//  Variables
//-------------------------------------

// Colors
$color-a: #000;
$color-b: #111;
$color-c: #222;
$color-d: #333;
$color-e: #444;
$color-f: #555;
$color-g: #666;
$color-h: #777;
$color-i: #888;
$color-j: #999;

// Spaces
$space-base: 6px;
$space-2: $space-base * 2;
$space-3: $space-base * 4;
$space-4: $space-base * 6;

// Font Size
$font-size-base: 14px;
$font-size-1: $font-size-base - 6px;
$font-size-2: $font-size-base - 4px;
$font-size-3: $font-size-base - 2px;
$font-size-4: $font-size-base + 2px;
$font-size-5: $font-size-base + 4px;
$font-size-6: $font-size-base + 6px;

// Heights
$height-tap-1: 26px;
$height-tap-2: 32px;
$height-tap-3: 42px;

// Border Radius
$radius-base: 4px;
$radius-2: $radius-base * 2;
$radius-3: $radius-base * 4;

// Font Settings
$font-family-body: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;


//  Webfont
//-------------------------------------
@import "../vendors/myfont";


//  Mixins
//-------------------------------------

// - @mixin  CSS Sprite for Retina Display
// - @param  $isParent {String} the first parameter is a string(parent or child)
// - @param  $map {Glob} the second parameter is a glob
// - @param  $map-item {Glob} the second parameter is a glob
// - @param  $isSameChild {Boolean} default is false
// - @usage  @include sprite(child, $map-tabs, home)
@mixin sprite($isParent, $map, $map-item: foo, $isSameChild: false) {
	@if not $isSameChild {
		@if $isParent == "parent" {
			background-image: sprite-url($map);
			background-repeat: no-repeat;
			background-size: round(image-width(sprite-path($map)) / 2) round(image-height(sprite-path($map)) / 2);
		} @else {
			$position-x: round(nth(sprite-position($map, $map-item), 1) / 2);
			width: round(image-width(sprite-file($map, $map-item)) / 2);
			height: round(image-height(sprite-file($map, $map-item)) / 2);
			background-position: $position-x 0;
		}
	} @else {
		@if $isParent == "parent" {
			width: round(image-width(sprite-file($map, $map-item)) / 2);
			height: round(image-height(sprite-file($map, $map-item)) / 2);
			background-image: sprite-url($map);
			background-repeat: no-repeat;
			background-size: round(image-width(sprite-path($map)) / 2) round(image-height(sprite-path($map)) / 2);
		} @else {
			$position-x: round(nth(sprite-position($map, $map-item), 1) / 2);
			background-position: $position-x 0;
		}
	}
}

$map-tabs: sprite-map("/files/img/sprite/tabs/*.png", $layout: horizontal);

.sprt-a { @include sprite(parent, $map-tabs); }
.sprt-a-bird1 { @include sprite(child, $map-tabs, bird1); }
.sprt-a-bird2 { @include sprite(child, $map-tabs, bird2); }
.sprt-a-bird3 { @include sprite(child, $map-tabs, bird3); }
.sprt-a-bird4 { @include sprite(child, $map-tabs, bird4); }

//  Extends
//-------------------------------------

%debug {
	background-color: pink !important; 
}
%cancel-border {
	border: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


//  Animations
//-------------------------------------

