// Bars
// 
// A description.
// 
// Markup: <some markup with a specific {$modifier} like class or a pseudo class >
// 
// .class      - description of the class state
// :pseudo     - description of the pseudo state
// 
// Styleguide 1 (digit number to increment eg chapter)

.bar-nav {
	border-bottom: 1px #ccc solid;
	color: #333;
	text-align: center;
	line-height: 80px;
}

.bar-tool { }

.bar-srch { }