//-------------------------------------//
//  Bars
//-------------------------------------//

.bar-nav {
	border-bottom: 1px #ccc solid;
	color: #333;
	text-align: center;
	line-height: 42px;
}

.bar-tool { }

.bar-srch { }