// Buttons
//
// Buttons can and should be clicked.
//
// Markup: <a href="#" class="btn {$modifiers} mbm">button</a>
// <button class="btn {$modifiers} mbm">button</button>
// <input type="button" class="btn {$modifiers} mbm" value="button">
//
// .btn-a - TypeA
// .btn-b - TypeB
// .is-pressed.btn-a - Highlight the button when hovered.
// :active - Highlight the button when hovered.
//
// Styleguide 1.0

.btn {
	display: block;
	border-radius: 4px;
	padding: 0 1em;
	background: $color-a;
	color: #fff;
	text-align: center;
	line-height: 44px;
	// State
	&.is-pressed, &:hover {
		@include box-shadow(rgba(0,0,0,0.6) 0 2px 4px 0 inset);
	}
	&.is-disabled &:hover {
		@include box-shadow(rgba(0,0,0,0.6) 0 2px 4px 0 inset);
	}
}
.btn-a {
	background: $color-b;
}
.btn-b {
	background: $color-c;
}