// Buttons
//
// Buttons can and should be clicked.
//
// Markup: <a href="#" class="btn {$modifiers} mbm">Button</a>
// <button class="btn {$modifiers} mbm">Button</button>
// <input type="button" class="btn {$modifiers} mbm" value="Button">
//
// .btn-a - TypeA
// .btn-b - TypeB
// .is-pressed - 
// .is-disabled - 
//
// Styleguide 1.0

.btn {
	display: block;
	border-radius: 4px;
	padding: 0 1em;
	background: $color-a;
	color: #fff;
	text-align: center;
	line-height: 42px;
	// State
	&.is-pressed {
		@include box-shadow(rgba(0,0,0,0.6) 0 2px 4px 0 inset);
	}
	&.is-disabled {
		opacity: 0.5;
	}
}
.btn-a {
	background: $color-b;
}
.btn-b {
	background: $color-c;
}