// Compass Variables
$experimental-support-for-opera: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-microsoft: false;

// Setting
@import "compass";
@import "core";
@import "modules";

// For JavaScript Engineer
//@import "_4jser";