// Boxes
// 
// A description.
// 
// Markup: <some markup with a specific {$modifier} like class or a pseudo class >
// 
// .class      - description of the class state
// :pseudo     - description of the pseudo state
// 
// Styleguide 2 (digit number to increment eg chapter)

.box-nav { }

.box-tool { }

.box-foot {
	padding: 2em;
	border-top: 1px #ccc solid;
}