// Bars
// 
// A description.
// 
// Markup: <some markup with a specific {$modifier} like class or a pseudo class >
// 
// .class      - description of the class state
// :pseudo     - description of the pseudo state
// 
// Styleguide 1 (digit number to increment eg chapter)
.barHead {
	position: relative;
	border-bottom: 1px #bbb solid;
	background: #eee;
	color: $color-a;
	text-align: center;
	line-height: 44px;
	font-size: $font-size-5;
}
.barHead-leftButton {
	position: absolute;
	top: 4px;
	left: 4px;
	font-size: 20px;
	padding: 0 10px;
	border: 1px #bbb solid;
	border-radius: $radius-base;
	line-height: 34px;
}
.bar-nav { }
.bar-tool { }
.bar-srch { }