<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Components List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/files/css/app.min.css">
    </head>
    <body>
        <h1>Hello, World!</h1>



        <script src="//code.jquery.com/jquery-2.0.2.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script id="js-gaq">
            var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
            (function(d,t){var g=d.createElement(t),s=d.getElementsById('js-gaq');g.async=1;
            g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
            s.parentNode.insertBefore(g,s)}(document,"script"));
        </script>
    </body>
</html>