<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Components List</title>
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/files/css/maple.css">
</head>
<body>
	<header class="bar-head">
		<h1 class="ir">Header</h1>
	</header><!-- /bar-head -->

	<section class="ptx pbm c">

		<p class="mod"><a href="#" class="btn is-pressed">Button</a></p>
		<p class="mod"><input type="button" class="btn btn--a" value="Button"></p>
		<p class="mod"><button class="btn btn--b">Button</button></p>

		<h2 class="mbm">This is sprite image.</h2>
		<ul class="mbm">
			<li><i class="sprt-a sprt-a__bird1"></i></li>
			<li><i class="sprt-a sprt-a__bird2"></i></li>
			<li><i class="sprt-a sprt-a__bird3"></i></li>
			<li><i class="sprt-a sprt-a__bird4"></i></li>
		</ul>
		<h2 class="mbm">This is webfont.</h2>
		<ul class="mbm">
			<li><i class="icon-star"></i></li>
			<li><i class="icon-plus"></i></li>
			<li><i class="icon-check"></i></li>
		</ul>
		<ul class="list list-a l bb">
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>	
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>	
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
		</ul>
	</section>

	<footer class="box-foot c">
		<small class="f3">&copy; 2013 Maple.</small>
	</footer>

	<script src="//code.jquery.com/jquery-2.0.3.js"></script>
	<script>
		(window.jQuery)||document.write('<script src="/files/js/libs/jquery/jquery.min.js"><\/script>');
	</script>
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script id="js-gaq">
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementById('js-gaq');g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
	</script>
</body>
</html>