//-------------------------------------//
//  Settings
//-------------------------------------//

//  Variables
//-------------------------------------

// Colors
$color-a: #157038; // Green
$color-b: #b3cf4d; // Yellowish Green 
$color-c: #818181; // Aluminium Gray
$color-d: #cc5514; // Orange
$color-e: #444;
$color-f: #555;
$color-g: #666;
$color-h: #777;
$color-i: #888;
$color-j: #999;

// Spaces
$space-base: 6px;
$space-2: $space-base * 2;
$space-3: $space-base * 4;
$space-4: $space-base * 6;

// Font Size
$font-size-base: 16px;
$font-size-1: $font-size-base - 6px;
$font-size-2: $font-size-base - 4px;
$font-size-3: $font-size-base - 2px;
$font-size-4: $font-size-base + 2px;
$font-size-5: $font-size-base + 4px;
$font-size-6: $font-size-base + 6px;

// Heights
$height-tap-1: 26px;
$height-tap-2: 32px;
$height-tap-3: 42px;

// Border Radius
$radius-base: 4px;
$radius-2: $radius-base * 2;
$radius-3: $radius-base * 4;

// Font Settings
$font-family-body: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;


//  Webfont
//-------------------------------------
@import "../lib/myfont";


//  Mixins
//-------------------------------------
@import "../lib/sprite";


.sprt-a { @include sprite(parent, $_bird1); }
.sprt-a-bird1 { @include sprite(child, $_bird1); }
.sprt-a-bird2 { @include sprite(child, $_bird2); }
.sprt-a-bird3 { @include sprite(child, $_bird3); }
.sprt-a-bird4 { @include sprite(child, $_bird4); }

//  Extends
//-------------------------------------

%debug {
	background-color: pink !important; 
}
%cancel-border {
	border: 0 !important;
	box-shadow: none !important;
}


//  Animations
//-------------------------------------

