//-------------------------------------//
//  Utility Classes
//-------------------------------------//

// Clearfix (.u-group)
.u-gp:before,
.u-gp:after { 
	content: "";
	display: table !important;
}
.u-gp:after { clear: both; }

// Image Replacement
.u-ir {
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}

// Ellipsis
.u-elps {  
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.u-fl { float: left; }
.u-fr { float: right; }

.u-full   { width: 100%; }
.u-half   { width: 50%; }
.u-third  { width: 33.3%; }
.u-quater { width: 25%; }
.u-fifth  { width: 20%; }

.u-ref { position: relative; }
.u-abs { position: absolute; }

//  Display Classes
//-------------------------------------

.u-dn { display: none !important;  }
.u-db { display: block !important;  }
.u-di { display: inline !important;  }
.u-ds { display: inline-block !important;  }
.u-dt { display: table !important; }
.u-dc { display: table-cell !important;}


//  Spacing Classes
//-------------------------------------

.u-mod { margin: $space-2; }

.u-mgn { margin: 0 !important; }

.u-mtn { margin-top: 0 !important; }
.u-mts { margin-top: $space-base !important; }
.u-mtm { margin-top: $space-2 !important; }
.u-mtl { margin-top: $space-3 !important; }
.u-mtx { margin-top: $space-4  !important; }
.u-mbn { margin-bottom: 0 !important; }
.u-mbs { margin-bottom: $space-base !important; }
.u-mbm { margin-bottom: $space-2 !important; }
.u-mbl { margin-bottom: $space-3 !important; }
.u-mbx { margin-bottom: $space-4  !important; }
.u-mln { margin-left: 0 !important; }
.u-mls { margin-left: $space-base !important; }
.u-mlm { margin-left: $space-2 !important; }
.u-mll { margin-left: $space-3 !important; }
.u-mlx { margin-left: $space-4  !important; }
.u-mrn { margin-right: 0 !important; }
.u-mrs { margin-right: $space-base !important; }
.u-mrm { margin-right: $space-2 !important; }
.u-mrl { margin-right: $space-3 !important; }
.u-mrx { margin-right: $space-4  !important; }

.u-mra { margin-right: auto !important; }
.u-mla { margin-left: auto !important; }
.u-mca { margin-left: auto !important; margin-right: auto !important; }

.u-ptn { padding-top: 0 !important; }
.u-pts { padding-top: $space-base !important; }
.u-ptm { padding-top: $space-2 !important; }
.u-ptl { padding-top: $space-3 !important; }
.u-ptx { padding-top: $space-4  !important; }
.u-pbn { padding-bottom: 0 !important; }
.u-pbs { padding-bottom: $space-base !important; }
.u-pbm { padding-bottom: $space-2 !important; }
.u-pbl { padding-bottom: $space-3 !important; }
.u-pbx { padding-bottom: $space-4  !important; }
.u-pln { padding-left: 0 !important; }
.u-pls { padding-left: $space-base !important; }
.u-plm { padding-left: $space-2 !important; }
.u-pll { padding-left: $space-3 !important; }
.u-plx { padding-left: $space-4  !important; }
.u-prn { padding-right: 0 !important; }
.u-prs { padding-right: $space-base !important; }
.u-prm { padding-right: $space-2 !important; }
.u-prl { padding-right: $space-3 !important; }
.u-prx { padding-right: $space-4  !important; }


//  Border Radius
//-------------------------------------

.u-rn { border-radius: 0 !important; }
.u-rs { border-radius: $radius-base; }
.u-rm { border-radius: $radius-2; }
.u-rl { border-radius: $radius-3; }


//  Text Decorative Classes
//-------------------------------------

.u-ca { color: $color-a !important; }
.u-cb { color: $color-b !important; }
.u-cc { color: $color-c !important; }
.u-cd { color: $color-d !important; }
.u-ce { color: $color-e !important; }
.u-cf { color: $color-f !important; }
.u-cg { color: $color-g !important; }
.u-ch { color: $color-h !important; }

.u-ba { background-color: $color-a !important; }
.u-bb { background-color: $color-b !important; }
.u-bc { background-color: $color-c !important; }
.u-bd { background-color: $color-d !important; }
.u-be { background-color: $color-e !important; }
.u-bf { background-color: $color-f !important; }
.u-bg { background-color: $color-g !important; }
.u-bh { background-color: $color-h !important; }

.u-n { font-weight: normal !important; }
.u-b { font-weight: bold !important; }
.u-i { font-style: italic !important; }
.u-l { text-align: left !important; }
.u-c { text-align: center !important; }
.u-r { text-align: right !important; }
.u-u { text-decoration: underline !important; }

.u-f1 { font-size: $font-size-1; }
.u-f2 { font-size: $font-size-2; }
.u-f3 { font-size: $font-size-3; }
.u-fn { font-size: $font-size-base !important; } 
.u-f4 { font-size: $font-size-4; }
.u-f5 { font-size: $font-size-5; }
.u-f6 { font-size: $font-size-6; }

.u-v0 { vertical-align: 0; }
.u-v1 { vertical-align: -1px; }
.u-v2 { vertical-align: -2px; }
.u-v3 { vertical-align: -3px; }
.u-v4 { vertical-align: -4px; }
.u-v5 { vertical-align: -5px; }
.u-v6 { vertical-align: -6px; }
.u-v6 { vertical-align: -6px; }
.u-vt { vertical-align: top; }
.u-vm { vertical-align: middle; }
.u-vb { vertical-align: bottom; }