/* line 20, sass/core/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 29, sass/core/_reset.scss */
html {
  line-height: 1;
}

/* line 33, sass/core/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, sass/core/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, sass/core/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 48, sass/core/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 51, sass/core/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 56, sass/core/_reset.scss */
a img {
  border: none;
}

/* line 60, sass/core/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, sass/core/_helper.scss */
.cf:before,
.cf:after {
  content: "";
  display: table !important;
}

/* line 9, sass/core/_helper.scss */
.cf:after {
  clear: both;
}

/* line 10, sass/core/_helper.scss */
.ir {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}

/* line 15, sass/core/_helper.scss */
.elps {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 21, sass/core/_helper.scss */
.bk {
  display: block;
}

/* line 23, sass/core/_helper.scss */
.fl {
  float: left;
}

/* line 24, sass/core/_helper.scss */
.fr {
  float: right;
}

/* line 29, sass/core/_helper.scss */
.mtn {
  margin-top: 0 !important;
}

/* line 30, sass/core/_helper.scss */
.mts {
  margin-top: 5px !important;
}

/* line 31, sass/core/_helper.scss */
.mtm {
  margin-top: 10px !important;
}

/* line 32, sass/core/_helper.scss */
.mtl {
  margin-top: 20px !important;
}

/* line 33, sass/core/_helper.scss */
.mrn {
  margin-right: 0 !important;
}

/* line 34, sass/core/_helper.scss */
.mrs {
  margin-right: 5px !important;
}

/* line 35, sass/core/_helper.scss */
.mrm {
  margin-right: 10px !important;
}

/* line 36, sass/core/_helper.scss */
.mrl {
  margin-right: 20px !important;
}

/* line 37, sass/core/_helper.scss */
.mbn {
  margin-bottom: 0 !important;
}

/* line 38, sass/core/_helper.scss */
.mbs {
  margin-bottom: 5px !important;
}

/* line 39, sass/core/_helper.scss */
.mbm {
  margin-bottom: 10px !important;
}

/* line 40, sass/core/_helper.scss */
.mbl {
  margin-bottom: 20px !important;
}

/* line 41, sass/core/_helper.scss */
.mln {
  margin-left: 0 !important;
}

/* line 42, sass/core/_helper.scss */
.mls {
  margin-left: 5px !important;
}

/* line 43, sass/core/_helper.scss */
.mlm {
  margin-left: 10px !important;
}

/* line 44, sass/core/_helper.scss */
.mll {
  margin-left: 20px !important;
}

/* line 45, sass/core/_helper.scss */
.mra {
  margin-right: auto !important;
}

/* line 46, sass/core/_helper.scss */
.mla {
  margin-left: auto !important;
}

/* line 47, sass/core/_helper.scss */
.ptn {
  padding-top: 0 !important;
}

/* line 48, sass/core/_helper.scss */
.pts {
  padding-top: 5px !important;
}

/* line 49, sass/core/_helper.scss */
.ptm {
  padding-top: 10px !important;
}

/* line 50, sass/core/_helper.scss */
.ptl {
  padding-top: 20px !important;
}

/* line 51, sass/core/_helper.scss */
.prn {
  padding-right: 0 !important;
}

/* line 52, sass/core/_helper.scss */
.prs {
  padding-right: 5px !important;
}

/* line 53, sass/core/_helper.scss */
.prm {
  padding-right: 10px !important;
}

/* line 54, sass/core/_helper.scss */
.prl {
  padding-right: 20px !important;
}

/* line 55, sass/core/_helper.scss */
.pbn {
  padding-bottom: 0 !important;
}

/* line 56, sass/core/_helper.scss */
.pbs {
  padding-bottom: 5px !important;
}

/* line 57, sass/core/_helper.scss */
.pbm {
  padding-bottom: 10px !important;
}

/* line 58, sass/core/_helper.scss */
.pbl {
  padding-bottom: 20px !important;
}

/* line 59, sass/core/_helper.scss */
.pln {
  padding-left: 0 !important;
}

/* line 60, sass/core/_helper.scss */
.pls {
  padding-left: 5px !important;
}

/* line 61, sass/core/_helper.scss */
.plm {
  padding-left: 10px !important;
}

/* line 62, sass/core/_helper.scss */
.pll {
  padding-left: 20px !important;
}

/* line 64, sass/core/_helper.scss */
.l {
  text-align: left !important;
}

/* line 65, sass/core/_helper.scss */
.c {
  text-align: center !important;
}

/* line 66, sass/core/_helper.scss */
.r {
  text-align: right !important;
}

/* line 67, sass/core/_helper.scss */
.b {
  font-weight: bold !important;
}

/* line 68, sass/core/_helper.scss */
.n {
  font-weight: normal !important;
}

/* line 69, sass/core/_helper.scss */
._ {
  text-decoration: underline;
}

/* line 71, sass/core/_helper.scss */
.tcm {
  color: #FF8CA9;
}

/* line 72, sass/core/_helper.scss */
.tcs {
  color: #F1AC1A;
}

/* line 73, sass/core/_helper.scss */
.tce {
  color: #E42413;
}

/* line 75, sass/core/_helper.scss */
.ts {
  font-size: 12px;
}

/* line 76, sass/core/_helper.scss */
.tm {
  font-size: 14px;
}

/* line 77, sass/core/_helper.scss */
.tl {
  font-size: 16px;
}

/* line 82, sass/core/_helper.scss */
.is-visible {
  display: block;
}

/* line 83, sass/core/_helper.scss */
.is-hidden {
  display: none;
}
