html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary { display: block; }

html { line-height: 1; }

i { display: inline-block; }

a { color: inherit; }

em { font-style: normal; }

select, button, input, textarea { -webkit-appearance: none; }

.cf:before, .cf:after { content: ""; display: table !important; }

.cf:after { clear: both; }

.ir { overflow: hidden; white-space: nowrap; text-indent: 100%; }

.elps { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.fl { float: left; }

.fr { float: right; }

.full { width: 100%; }

.half { width: 50%; }

.third { width: 33.3%; }

.ref { position: relative; }

.abs { position: absolute; }

.invisible { visibility: hidden; }

.is-hidden { display: none; }

.is-block { display: block; }

.is-inline { display: inline; }

.is-solid { display: inline-block; }

.is-table { display: table; }

.is-cell { display: table-cell; }

.mod { margin: 12px; }

.mgn { margin: 0 !important; }

.mtn { margin-top: 0 !important; }

.mts { margin-top: 6px !important; }

.mtm { margin-top: 12px !important; }

.mtl { margin-top: 24px !important; }

.mtx { margin-top: 36px !important; }

.mbn { margin-bottom: 0 !important; }

.mbs { margin-bottom: 6px !important; }

.mbm { margin-bottom: 12px !important; }

.mbl { margin-bottom: 24px !important; }

.mbx { margin-bottom: 36px !important; }

.mln { margin-left: 0 !important; }

.mls { margin-left: 6px !important; }

.mlm { margin-left: 12px !important; }

.mll { margin-left: 24px !important; }

.mlx { margin-left: 36px !important; }

.mrn { margin-right: 0 !important; }

.mrs { margin-right: 6px !important; }

.mrm { margin-right: 12px !important; }

.mrl { margin-right: 24px !important; }

.mrx { margin-right: 36px !important; }

.mra { margin-right: auto !important; }

.mla { margin-left: auto !important; }

.mca { margin-left: auto !important; margin-right: auto !important; }

.ptn { padding-top: 0 !important; }

.pts { padding-top: 6px !important; }

.ptm { padding-top: 12px !important; }

.ptl { padding-top: 24px !important; }

.ptx { padding-top: 36px !important; }

.pbn { padding-bottom: 0 !important; }

.pbs { padding-bottom: 6px !important; }

.pbm { padding-bottom: 12px !important; }

.pbl { padding-bottom: 24px !important; }

.pbx { padding-bottom: 36px !important; }

.pln { padding-left: 0 !important; }

.pls { padding-left: 6px !important; }

.plm { padding-left: 12px !important; }

.pll { padding-left: 24px !important; }

.plx { padding-left: 36px !important; }

.prn { padding-right: 0 !important; }

.prs { padding-right: 6px !important; }

.prm { padding-right: 12px !important; }

.prl { padding-right: 24px !important; }

.prx { padding-right: 36px !important; }

.rn { border-radius: 0 !important; }

.rs { border-radius: 5px !important; }

.rm { border-radius: 10px !important; }

.rl { border-radius: 20px !important; }

.l { text-align: left !important; }

.c { text-align: center !important; }

.r { text-align: right !important; }

.b { font-weight: bold !important; }

.n { font-weight: normal !important; }

._ { text-decoration: underline !important; }

.ca { color: black; }

.cb { color: black; }

.cc { color: black; }

.cd { color: black; }

.ce { color: black; }

.cf { color: black; }

.f1 { font-size: 9px; }

.f2 { font-size: 10px; }

.f3 { font-size: 11px; }

.f4 { font-size: 12px; }

.f5 { font-size: 13px; }

.fn { font-size: 14px !important; }

.f6 { font-size: 15px; }

.f7 { font-size: 16px; }

.f8 { font-size: 17px; }

.f9 { font-size: 18px; }

.f10 { font-size: 19px; }

.v0 { vertical-align: 0; }

.v1 { vertical-align: 1px; }

.v2 { vertical-align: 2px; }

.v3 { vertical-align: 3px; }

.v4 { vertical-align: 4px; }

.v5 { vertical-align: 5px; }

.vt { vertical-align: top; }

.vm { vertical-align: middle; }

.vb { vertical-align: bottom; }
