// Buttons
// 
// Buttons can and should be clicked.
// 
// Markup: <button class="btn {$modifiers} mbm">Button of button</button>
// <a class="btn {$modifiers} mbm">Button of a</a>
//
// .btn-a - This button is A.
// .btn-b - This button is B.
// .btn-c - This button is c.
// .is-pressed.btn-a - This button is pressed.
// .is-disabled.btn-a - This button is disabled.
// 
// Styleguide 3

.btn {
	display: block;
	border-radius: 4px;
	padding: 0 1em;
	color: #fff;
	text-align: center;
	line-height: 42px;
	// State
	&.is-pressed {
		box-shadow: rgba(0, 0, 0, 0.6) 0 2px 4px 0 inset;
	}
	&.is-disabled {
		opacity: 0.5;
	}
}
.btn-a {
	background: $color-a;
}
.btn-b {
	background: $color-b;
}
.btn-c {
	background: $color-c;
}